{% extends 'base.html.twig' %}

{% block title %}<title>Registro de usuarios</title>{% endblock %}

{% block body %}
    <h1>Registro de usuarios</h1>
    {{ form_start(form_user) }}
        <div class="form-group">
            {{ form_row(form_user.id_user) }}
            {{ form_row(form_user.name) }}
            {{ form_row(form_user.lastname) }}
            {{ form_row(form_user.email) }}
            {{ form_row(form_user.password) }}
            {{ form_row(form_user.image) }}
            <hr>
            <div class="row">
                <div class="col-sm-12 text-center">
                    {{ form_widget(form_user.submit) }}
                    <a href="{{ path('getUsers')}}" class="btn btn-primary btn-md center-block">Volver</a>
                </div>
            </div>
            {{ form_end(form_user) }}
        </div>
{% endblock %}
