{% extends 'base.html.twig' %}

{% block title %}<title>Listado de usuarios</title>{% endblock %}

{% block body %}
    <h1>Listado de usuarios</h1>
    <a href="{{ path('createUser') }}" class="btn btn-primary">Crear usuario</a>
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in listUsers %}
                <tr>
                    <td><img src='{{ user.image }}' height="100" width="100" alt></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('updateUser',{'id': user.id}) }}" class="btn btn-primary">Modificar</a>
                        <a href="{{ path('deleteUser',{'id': user.id}) }}" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
